Dockerfile*
.dockerignore
node_modules
npm-debug.log
README.md
.env
.git
.gitignore
.next
.vercel
.DS_Store
*.log
coverage
.nyc_output
dist
.cache
.parcel-cache
.eslintcache
.vscode
.idea
*.swp
*.swo
*~
